@media (max-width: 800px) {
  #header-primary #primary-menu {
    width: calc(75%);
    float: left;
    margin-left: 0;
    margin-left: calc(8.3333333333% + 0px);
  }
}
#header-primary .menu-container {
  margin-left: calc(8.3333333333% + 0px);
}
.header-nav.primary .menu-container {
  width: calc(66.6666666667%);
  float: left;
  margin-left: 0;
  margin-left: calc(16.6666666667% + 0px);
}
.menu-container {
  font-family: roboto condensed, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, lucida grande, helvetica neue, helvetica, fira sans,
    roboto, noto, droid sans, cantarell, oxygen, ubuntu, franklin gothic medium,
    century gothic, liberation sans, sans-serif;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
.header-nav.primary {
  position: relative;
  padding: 10px 0;
  color: #252f52;
  font-family: roboto condensed, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, lucida grande, helvetica neue, helvetica, fira sans,
    roboto, noto, droid sans, cantarell, oxygen, ubuntu, franklin gothic medium,
    century gothic, liberation sans, sans-serif;
  font-size: 1.4em;
  z-index: 1;
}
html,
body {
  height: auto;
  font-size: 10px;
  line-height: 2;
  background-color: #fff;
}
body {
  color: #252f52;
  font-family: ipccserif, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, lucida grande, helvetica neue, helvetica, fira sans, roboto, noto,
    droid sans, cantarell, oxygen, ubuntu, franklin gothic medium,
    century gothic, liberation sans, sans-serif;
  font-size: 10px;
  line-height: 2;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
