<div id="primary-menu-icon" class="menu-icon">
  <a href="#" class="menu-trigger"
    ><i class="icon icon-menu"></i><span>Menu</span></a
  >
</div>
<div id="primary-menu" class="menu-container">
  <ul id="menu-primary-navigation" class="menu">
    <li
      id="menu-item-1151"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-545 current_page_item menu-item-1151">
      <a href="https://www.ipcc.ch/sr15/" aria-current="page">Report Home</a>
    </li>
    <li
      id="menu-item-6513"
      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6513">
      <a href="/sr15/chapter/spm/">Summary for Policymakers</a>
    </li>
    <li
      id="menu-item-1152"
      class="menu-trigger menu-item menu-item-type-custom menu-item-object-custom menu-item-1152">
      <a href="#">Table of Contents</a>
    </li>
    <li
      id="menu-item-1171"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171">
      <a href="https://www.ipcc.ch/sr15/graphics/">Graphics</a>
    </li>
  </ul>
</div>
<div
  id="header-social"
  data-accounts='{"twitter":"ipcc_ch","facebook":"ipcc","instagram":"IPCC","linkedin":"company\/ipcc","youtube":"IPCCGeneva"}'>
  <div id="social-follow" class="social-menu">
    <div class="social-widget-wrap follow-widget-wrap">
      <div id="follow" class="social-trigger follow-trigger">
        <i class="icon icon-follow"></i><span class="text">Follow</span>
      </div>
      <ul class="social-widget follow-widget">
        <li>
          <a
            target="_blank"
            href="https://facebook.com/ipcc"
            class="follow-link follow-facebook"
            ><i class="icon icon-social-facebook"></i
            ><span class="label">Facebook</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://twitter.com/ipcc_ch"
            class="follow-link follow-twitter"
            ><i class="icon icon-social-twitter"></i
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="http://instagram.com/IPCC"
            class="follow-link follow-instagram"
            ><i class="icon icon-social-instagram"></i
            ><span class="label">Instagram</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="http://linkedin.com/company/ipcc"
            class="follow-link follow-linkedin"
            ><i class="icon icon-social-linkedin"></i
            ><span class="label">LinkedIn</span></a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="http://youtube.com/IPCCGeneva"
            class="follow-link follow-youtube"
            ><i class="icon icon-social-youtube"></i
            ><span class="label">YouTube</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div id="social-share" class="social-menu">
    <div class="social-widget-wrap share-widget-wrap">
      <div id="share" class="social-trigger share-trigger">
        <i class="icon icon-share"></i><span class="text">Share</span>
      </div>
      <ul class="social-widget share-widget">
        <li>
          <a
            href="https://twitter.com/intent/tweet?text=Global Warming of 1.5 ºC —: https%3A%2F%2Fwww.ipcc.ch%2Fsr15%2F"
            class="share-link share-twitter"
            ><i class="icon icon-social-twitter"></i
            ><span class="label">Twitter</span></a
          >
        </li>
        <li>
          <a
            href="#"
            class="share-link share-facebook"
            data-href="https://www.ipcc.ch/sr15/"
            ><i class="icon icon-social-facebook"></i
            ><span class="label">Facebook</span></a
          >
        </li>
        <li class="share-permalink-wrap">
          <a href="#" class="share-link share-permalink"
            ><i class="icon icon-permalink"></i
            ><span class="label">Copy Permalink</span></a
          >
          <div class="share-permalink-input">
            <input type="text" value="https://www.ipcc.ch/sr15/" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
