<div id="secondary-menu-icon" class="menu-icon">
  <a href="#" class="menu-trigger"
    ><i class="icon icon-menu"></i><span>Menu</span></a
  >
</div>

<div id="secondary-home-link" class="home-link">
  <a href="https://www.ipcc.ch/"
    ><img
      src="https://www.ipcc.ch/site/assets/uploads/sites/2/2018/08/ipcc-logo.png"
      alt="Global Warming of 1.5 ºC" /><i class="icon icon-return"></i
  ></a>
</div>

<div id="secondary-menu" class="menu-container">
  <ul id="menu-secondary-navigation" class="menu">
    <li
      id="menu-item-1170"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1170">
      <a href="https://www.ipcc.ch/sr15/about/">About</a>
      <ul class="sub-menu">
        <li
          id="menu-item-7205"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7205">
          <a href="https://www.ipcc.ch/sr15/about/">Background</a>
        </li>
        <li
          id="menu-item-6807"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6807">
          <a href="https://www.ipcc.ch/sr15/authors/"
            >Authors and Review Editors</a
          >
        </li>
        <li
          id="menu-item-7045"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7045">
          <a href="https://www.ipcc.ch/sr15/about/error-protocol/"
            >Error Protocol</a
          >
        </li>
        <li
          id="menu-item-7050"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7050">
          <a href="https://www.ipcc.ch/sr15/about/foreword/">Foreword</a>
        </li>
        <li
          id="menu-item-6436"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6436">
          <a href="https://www.ipcc.ch/sr15/about/preface/">Preface</a>
        </li>
      </ul>
    </li>
    <li
      id="menu-item-6374"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6374">
      <a href="https://www.ipcc.ch/sr15/mulitimedia/">Multimedia</a>
      <ul class="sub-menu">
        <li
          id="menu-item-6385"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6385">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/video/">Video</a>
        </li>
        <li
          id="menu-item-6375"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6375">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/photo-library/"
            >Photo Library</a
          >
        </li>
        <li
          id="menu-item-6384"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6384">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/front-cover/"
            >Front Cover</a
          >
        </li>
        <li
          id="menu-item-6383"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6383">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/co-chair-statements/"
            >Co Chair Statements</a
          >
        </li>
        <li
          id="menu-item-6480"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6480">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/presentation/"
            >Presentation and Press Releases</a
          >
        </li>
        <li
          id="menu-item-7728"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7728">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://apps.ipcc.ch/report/sr15/fig1/index.html"
            >SPM.1: Interactive Figure</a
          >
        </li>
        <li
          id="menu-item-7955"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7955">
          <a href="https://www.ipcc.ch/report/infographic/worlds-apart/"
            >Infographics – Worlds Apart</a
          >
        </li>
      </ul>
    </li>
    <li
      id="menu-item-6667"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6667">
      <a href="https://www.ipcc.ch/sr15/resources/">Resources</a>
      <ul class="sub-menu">
        <li
          id="menu-item-7312"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7312">
          <a href="https://www.ipcc.ch/sr15/mulitimedia/external-resources/"
            >External Resources</a
          >
        </li>
        <li
          id="menu-item-7044"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7044">
          <a href="https://www.ipcc.ch/sr15/resources/headline-statements/"
            >Headline Statements</a
          >
        </li>
        <li
          id="menu-item-6749"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6749">
          <a href="https://www.ipcc.ch/sr15/resources/technicalsummary/"
            >Technical Summary</a
          >
        </li>
        <li
          id="menu-item-1841"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1841">
          <a href="/sr15/chapter/glossary/">Glossary</a>
        </li>
        <li
          id="menu-item-1167"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1167">
          <a href="https://www.ipcc.ch/sr15/faq/">FAQ</a>
          <ul class="sub-menu">
            <li
              id="menu-item-6286"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6286">
              <a href="https://www.ipcc.ch/sr15/faq/faq-chapter-1/"
                >FAQ Chapter 1</a
              >
            </li>
            <li
              id="menu-item-6425"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6425">
              <a href="https://www.ipcc.ch/sr15/faq/faq-chapter-2/"
                >FAQ Chapter 2</a
              >
            </li>
            <li
              id="menu-item-6424"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6424">
              <a href="https://www.ipcc.ch/sr15/faq/faq-chapter-3/"
                >FAQ Chapter 3</a
              >
            </li>
            <li
              id="menu-item-6423"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6423">
              <a href="https://www.ipcc.ch/sr15/faq/faq-chapter-4/"
                >FAQ Chapter 4</a
              >
            </li>
            <li
              id="menu-item-6422"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6422">
              <a href="https://www.ipcc.ch/sr15/faq/faq-chapter-5/"
                >FAQ Chapter 5</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li
      id="menu-item-1166"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1166">
      <a href="https://www.ipcc.ch/sr15/download/">Download Report</a>
    </li>
  </ul>
</div>
<div id="header-search" class="header-search">
  <form
    role="search"
    method="get"
    id="searchform"
    class="searchform"
    action="https://www.ipcc.ch/sr15">
    <label class="screen-reader-text" for="s">Search for:</label>
    <input type="text" value="" name="s" id="s" placeholder="Search" />
    <button type="submit" id="searchsubmit" value="Search">
      <i class="icon icon-search"></i>
    </button>
  </form>
</div>
