#header-secondary {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding: 10px 0;
  color: #fff;
  font-family: roboto condensed, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, lucida grande, helvetica neue, helvetica, fira sans,
    roboto, noto, droid sans, cantarell, oxygen, ubuntu, franklin gothic medium,
    century gothic, liberation sans, sans-serif;
  font-size: 1.2em;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(37, 47, 82, 0.2);
  background-color: #5492cd;
}

.home-link {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 9999px;
  max-height: 50px;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  box-sizing: border-box;
  max-width: 9999px;
  max-height: 50px;
}

.menu-item-has-children:hover {
  background-color: #fff;
  color: #5492cd;
  opacity: 0.9;
}

.menu-item-has-children:hover > ul.sub-menu {
  display: block;
  background-color: #fff;
  color: #5492cd;
  opacity: 0.9;
}

ul.sub-menu {
  display: none;
  position: absolute;
}

li.menu-item {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}

* {
  margin: 0;
  padding: 0;
}
